ktor:
  application:
    modules:
      - ru.shvets.reminder.bot.meetup.ApplicationKt.module
  deployment:
    port: 8080
  urls:
    - "http://127.0.0.1:8080/"
    - "http://0.0.0.0:8080/"
    - "http://192.168.0.182:8080/"
  watch:
    - classes
    - resources
psql:
  password: postgres
  schema: todo
  driver: "org.postgresql.Driver"
  url: "jdbc:postgresql://localhost:5432/todo"
  user: postgres
jwt:
  issuer: "http://localhost:8081/auth/realms/my-auth-server"
  audience: "todos-users"
  realm: "my-auth-server"
  clientId: "todos-service"
  certUrl: "http://localhost:8081/auth/realms/my-auth-server/protocol/openid-connect/certs"
#  secret: "kAyhoCaF2Ba2tDv1tauqwSGN04ibSsED"
telegram:
  botName: "FortunerHelperBot"
  token: "5106613552:AAFyvO-4gpLqjONW4nM8KrEl_wyTq4rB0rY"
scheduler:
  minutes: 5